div.foo{
  text-align: center;
}

.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 700%;
  margin: 0.2em;
  position: relative;
  color: #00B4F1;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}

.date {
  color: rgba(255, 0, 0, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  padding-bottom: 3%;
  text-align: center;
}